body {
    font-family: sans-serif;
    background-color: grey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
    background:blue;
}

.img-medium {
    height: 200px;
}
.art1{
    font-family: sans-serif;
    background-color: white;
}

